<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			</compilation>
	</system.web>
  <appSettings>
    <add key="api_key" value="984vc0tc9u21f0aqt7ngwo6qk5shloou"/>
    <add key="site_url" value="b00019.helpdocsonline.com"/>
  </appSettings>
</configuration>
